*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  inline-size: 1140px;
  block-size: 534px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  column-gap: 30px;
  align-items: end;
  box-sizing: border-box;
  align-self: center;
}

.result {
  inline-size: 711px;
}

.result__video-container {
  inline-size: 711px;
  block-size: 386px;
  position: relative;
}

.result__video {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

.search-form {
  margin: 0;
  padding: 16px 0 0 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: end;
  column-gap: 40px;
  inline-size: 100%;
}

.search-form__fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  box-sizing: border-box;
}

.search-form__fieldset-title {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: normal;
  color: #fff;
  text-align: start;
  border: none;
}

.search-form__label {
  display: flex;
  flex-direction: row;
  column-gap: 3px;
  border: none;
  cursor: pointer;
  align-items: center;
  padding: 2px 2px;
}

.search-form__label:has(:focus-visible) {
  border: 1px solid #fff;
  padding: 1px 1px;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline 1px solid #fff;
  text-underline-offset: 1.5px;
}

.search-form__label-text {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: normal;
  color: #fff;
  text-align: start;
  vertical-align: middle;
  padding: 1px;
}

.search-form__textfield {
  background-color: transparent;
  border: none;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: normal;
  color: #fff;
  text-align: start;
  min-inline-size: 225px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  appearance: none;
}

.search-form__textfield:active {
  border: 1px solid #fff;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.search-form__pseudo-checkbox {
  inline-size: 19px;
  block-size: 19px;
  background-color: transparent;
  border: 1px solid #fff;
}

.search-form__pseudo-checkbox + .search-form__label-text {
  color: #fff;
}

input[type="checkbox"]:checked + span {
  padding: 2px 2px;
  background-color: #fff;
  background-clip: content-box;
}

.button {
  margin: 0;
  padding: 0;
  block-size: 34px;
  cursor: pointer;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  vertical-align: top;
  border: 1px solid #fff;
  background-color: transparent;
}

.button:active {
  background-color: #545050;
}

.button:hover {
  text-decoration: underline 1px solid #fff;
  text-underline-offset: 1.5px;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: solid 1px #fff;
  outline-offset: -2px;
}

.more-button {
  inline-size: 100%;
}

.search-form__submit-button {
  inline-size: 194px;
  vertical-align: bottom;
}

.content__details {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  row-gap: 26px;
}

.content__accent {
  color: #545050;
}

.title {
  font-family: Oswald, sans-serif;
  font-size: 75px;
  font-weight: bold;
  line-height: 94%;
  text-transform: uppercase;
  color: #fff;
}

.content__card-link {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  margin: 2px 0;
  padding: 0;
  display: block;
}

.content__video-card-title {
  font-family: Oswald, sans-serif;
  font-size: 30px;
  font-weight: bold;
  line-height: 100%;
  text-transform: uppercase;
  color: #fff;
}

.content__video-card-description {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 16.2pt;
  color: #fff;
  text-align: start;
}

.content__list {
  block-size: 298px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  border: 0;
}

.content__list::-webkit-scrollbar {
  inline-size: 2px;
  overflow-y: auto;
}

.content__list::-webkit-scrollbar-track {
  background-color: #1b1919;
  border: none;
}

.content__list::-webkit-scrollbar-thumb {
  background-color: #545050;
}

.content__list-item {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  border: 1px solid #fff;
}

.content__card-link:active,
.content__card-link_current {
  background-color: #545050;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 2px 0 2px 2px;
}

.content__video-card-thumbnail {
  min-inline-size: 194px;
  block-size: 103px;
  object-fit: cover;
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 6px;
}
